<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<h1>Inicio KIZMOVE</h1>
<a th:href="@{/add}">Crear Persona</a>
<p th:text=${mensaje}></p>
<p th:text=${saludo}></p>

<div th:if="${persons !=null or !persons.empty}">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <tr th:each="person : ${persons}">
            <td th:text=${person.name}></td>
            <td th:text=${person.lastName}></td>
            <td th:text=${person.phoneNumber}></td>
            <td><a th:href="@{/edit/} + ${person.id}" th:text="Editar"></a></td>
           <!-- <td><a th:href="@{/delete/} + ${person.id}" th:text="Eliminar"></a></td> aqui es con path variable-->
            <td><a th:href="@{/delete(id=${person.id})}" th:text="Eliminar"></a></td>
        </tr>
    </table>
</div>
<div th:if="${persons ==null or persons.empty}">
    The list of people is empty!!
</div>
</body>
</html>
